body {
    margin: 0;
    background: linear-gradient(to bottom, #404c70 0%,#424e72 51%,#2b324e 100%);
    font-family: 'Mina', sans-serif;
    color: #f5f5f5;
}

.container {
    margin: 0 auto;
    padding: $indent__s;
}

input {
    color: #f5f5f5;
    font-family: 'Mina', sans-serif;
    background: transparent;
}