// Media
$screen__xs: 480x;
$screen__s: 768px;
$screen__m: 1024px;
$screen__l: 1440px;
$screen__xl: 1920px;

// Styles
$border-radius: 4px;

// Spacing
$indent__s: 15px;
$indent__m: 30px;

// Colors
$blue-dark: #607D8B;
$dark__primary: #333;
$white__primary: #f5f5f5;

// Font size
$font-size__xs: 12px;
$font-size__s: 14px;
$font-size__l: 18px;
$font-size__xl: 20px;