body {
  margin: 0;
  color: #333;
  font-family: 'Mina', sans-serif; }

.container {
  margin: 0 auto;
  padding: 15px; }

input {
  color: #333;
  font-family: 'Mina', sans-serif; }

.run-calc__wrapper .run-calc__input--headline {
  margin-bottom: 5px; }
  .run-calc__wrapper .run-calc__input--headline h4 {
    display: inline-block;
    margin: 0;
    margin-left: 5px; }
  .run-calc__wrapper .run-calc__input--headline i {
    color: #00ACC1;
    vertical-align: middle; }

.run-calc__wrapper .run-calc__input-box .run-calc__input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.run-calc__wrapper .run-calc__input-box .run-calc__input-field {
  width: 33.33333%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .run-calc__wrapper .run-calc__input-box .run-calc__input-field label {
    display: block;
    color: #607D8B;
    font-size: 14px; }

.run-calc__wrapper .run-calc__input-box .run-calc__input-field input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #607D8B;
  font-size: 24px; }
  .run-calc__wrapper .run-calc__input-box .run-calc__input-field input:focus {
    outline: none; }

.run-calc__wrapper .run-calc__input-box .run-calc__input-field:not(:last-child) {
  margin-bottom: 5px; }

.run-calc__wrapper .run-calc__input-box--inactive .run-calc__input-section {
  display: none; }

.run-calc__wrapper .run-calc__input-box--inactive input {
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 42px; }

.run-calc__wrapper .run-calc__input-box--inactive .run-calc__data-section--pace {
  padding: 0 15px;
  text-align: center; }

.run-calc__wrapper .run-calc__input-box--inactive .run-calc__data-section--time {
  font-size: 42px; }

.run-calc__wrapper .run-calc__input-box--inactive .run-calc__data-section--type {
  color: #607D8B;
  font-size: 14px; }

.run-calc__wrapper .run-calc__input-box, .run-calc__wrapper .run-calc__input-box--inactive {
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 19px -5px #333333;
          box-shadow: 4px 4px 19px -5px #333333; }

@media (min-width: 768px) {
  .run-calc {
    max-width: 768px; }
  .run-calc__wrapper {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%; }
    .run-calc__wrapper .run-calc__input-box, .run-calc__wrapper .run-calc__input-box--inactive {
      padding: 30px; } }
