$inactive__font-size: 42px;
$active__font-size: 24px;
$info-text__color: $blue-dark;
$icon__color: #00ACC1;

.run-calc__wrapper {

	.run-calc__input--headline {
		margin-bottom: 5px;

		h4 {
			display: inline-block;
			margin: 0;
			margin-left: 5px;
		}

		i {
			color: $icon__color;
			vertical-align: middle;
		}
		
	}

	.run-calc__input-box {
		
		.run-calc__input-section {
			display: flex;
			justify-content: center;
		}

		.run-calc__input-field {
			width: 33.33333%;
			padding: 0 15px;
			box-sizing: border-box;
			label {
				display: block;
				color: $info-text__color;
				font-size: $font-size__s;
			}
		}
		
		.run-calc__input-field input {
			width: 100%;
			border: 0;
			border-bottom: 1px solid $blue-dark;
			font-size: $active__font-size;
			&:focus {
				outline: none;
			}
		}
		
		.run-calc__input-field:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	.run-calc__input-box--inactive {

		.run-calc__input-section {
			display: none;
		}
		input {
			width: 100%;
			background: transparent;
			border: 0;
			font-size: $inactive__font-size;
		}

		.run-calc__data-section--pace {
			padding: 0 $indent__s;
			text-align: center;
		}

		.run-calc__data-section--time {
			font-size: $inactive__font-size;
		}

		.run-calc__data-section--type {
			color: $info-text__color;
			font-size: $font-size__s;
		}
	}

	.run-calc__input-box, .run-calc__input-box--inactive {
		border-radius: $border-radius;
		box-shadow: 4px 4px 19px -5px rgba(51,51,51,1);
	}

}

@include media-mobile {

}

@include media-tablet-up {
	.run-calc {
		max-width: $screen__s;
	}
	
	.run-calc__wrapper {
		display: grid;
		grid-template-columns: 49% 49%;
		grid-column-gap: 2%;
	
		.run-calc__input-box, .run-calc__input-box--inactive {
			padding: $indent__m;
		}
	}
}
