<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Test</title>
	<link href="https://fonts.googleapis.com/css?family=Mina:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="page-wrapper">
<div class="main-nav">
	<ul>
		<li>Hej</li>
		<li>Hej</li>
	</ul>
</div>

<main role="main">
	<div class="container run-calc">
		<div id="run-calc">

			<ul class="select-calc">
				<li>
					<input type="radio" selected id="selected-pace-n-speed" value="selected-pace-n-speed" v-model="selected">
					<label for="selected-pace-n-speed">Calculate pace & speed</label>
				</li>
				<li>
					<input type="radio" id="selected-time" value="selected-time" v-model="selected">
					<label for="selected-time">Calculate time</label>
				</li>
			</ul>
			<div class="run-calc__wrapper">
				<transition name="distance-fade" appear>
					<div class="box run-calc__input-box">
						<div class="run-calc__input--headline">
							<img v-bind:class="{ active: selectedCalc == 'selected-pace-n-speed' || selectedCalc == 'selected-time' }" src="images/distance.svg"/>
							<h4>Distance</h4>
						</div>
						<div class="run-calc__input-section">
							<div class="run-calc__input-field">
								<input @input="distanceTimeChange" type="number" id="distance-km" v-model.number="distanceKilometers">
								<label for="distance-km">Kilometers</label>
							</div>
							<div class="run-calc__input-field">		
								<input @input="distanceTimeChange" type="number" id="distance-m" v-model.number="distanceMeters">
								<label for="distance-m">Meters</label>
							</div>
						</div>
					</div>
				</transition>
				<transition name="time-fade" appear>
					<div class="box run-calc__input-box">
						<div class="run-calc__input--headline">
							<img v-bind:class="{ active: selectedCalc == 'selected-pace-n-speed' }" src="images/timer.svg"/><h4>Time</h4>
						</div>
						<transition name="component-fade" mode="out-in">
							<div class="run-calc__input-section" key="input-section">
								<div class="run-calc__input-field">		
									<input @input="distanceTimeChange" type="number" id="time-h" v-model.number="timeHours">
									<label for="time-h">Hours</label>
								</div>
								<div class="run-calc__input-field">		
									<input @input="distanceTimeChange" type="number" id="time-m" v-model.number="timeMinutes">
									<label for="time-h">Minutes</label>
								</div>
								<div class="run-calc__input-field">		
									<input @input="distanceTimeChange" type="number" id="time-s" v-model.number="timeSeconds">
									<label for="time-s">Seconds</label>
								</div>
							</div>
						</transition>
					</div>
				</transition>
				<transition name="pace-fade" appear>
					<div class="box run-calc__input-box--inactive">
						<div class="run-calc__input--headline">
							<img v-bind:class="{ active: selectedCalc == 'selected-time' }" src="images/stopwatch.svg"/>
							<h4>Pace</h4>
						</div>
						<transition name="component-fade" mode="out-in">
							<div class="box run-calc__data-section" v-if="selectedCalc == 'selected-pace-n-speed'" key="data-section">
								<div class="run-calc__data-section--pace">
									<span class="run-calc__data-section--time">{{ paceMinutes }}</span>
									<span class="run-calc__data-section--type">minutes</span>
									<span class="run-calc__data-section--time">{{ paceSeconds }}</span>
									<span class="run-calc__data-section--type">seconds</span>
									<span class="run-calc__data-section--type"> / km</span>
								</div>
							</div>
							<div class="run-calc__input-section" else key="input-section">
								<div class="run-calc__input-field">		
									<input @input="paceChange" type="number" id="pace-m" v-model.number="paceMinutes">
									<label for="pace-m">Minutes / km</label>
								</div>
								<div class="run-calc__input-field">		
									<input @input="paceChange" type="number" id="pace-s" v-model.number="paceSeconds">
									<label for="pace-s">Seconds / km</label>
								</div>
							</div>
							
						</transition>
					</div>
				</transition>
				<transition name="speed-fade" appear>
					<div class="box run-calc__input-box--inactive">
						
						<div class="run-calc__input--headline">
							<img v-bind:class="{ active: selectedCalc == 'selected-time' }" src="images/speedometer.svg"/>
							<h4>Speed</h4>
						</div>
						<transition name="component-fade" mode="out-in">
							<div class="run-calc__data-section--speed" v-if="selectedCalc == 'selected-pace-n-speed'" key="input-section">
								<span class="run-calc__data-section--time">{{ speed }}</span>
								<span class="run-calc__data-section--type">km / h</span>
							</div>
							<div class="run-calc__input-section" else key="data-section">
								<div class="run-calc__input-field">
									<input @input="paceChange" type="number" id="speed" v-model.number="speed">
									<label for="speed">Km / hour</label>
								</div>
							</div>
						</transition>
					</div>
				</transition>
			</div>
		</div>
	</div>

</main>

<footer>
	<h4>Hej</h4>
	<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
	var runningCalc = new Vue({
		el: '#run-calc',
		data: {
			distanceKilometers: 10,
			distanceMeters: 0,
			timeHours: 1,
			timeMinutes: 0,
			timeSeconds: 0,
			paceMinutes: 6,
			paceSeconds: 0,
			speed: 10,
			selected: ''
		},
		computed: {
			selectedCalc: function() {
				return this.selected;
			},
		},
		mounted: function () {
			const container = document.querySelector('.run-calc');
			container.classList.add('js-loaded');
		},
		methods: {
			distanceTimeChange() {
				this.calculatePace();
				this.calculateSpeed();
			},
			paceChange() {
				this.calculateSpeed();
				this.calculateTime();
			},
			calculateDistance: function() {
				let pace = this.paceMinutes + (this.paceSeconds / 60)
				this.distanceKilometers = (this.timeHours * 60) / pace;
			},
			calculateTime: function() {
				let km = this.distanceKilometers == "" ? 0 : this.distanceKilometers;
				let m = this.distanceMeters == "" ? 0 : this.distanceMeters;
				let distance = km + (m / 1000);

				let time = distance / this.speed;
				console.log("Time "+time);
				
				let timeString = String(time);
				if (timeString.indexOf('.') != -1) {
					if (time < 1) {
						this.timeHours = 0;	
					}
				}
				else {
					this.timeHours = time;
				}
			},
			calculatePace: function() {
				let hours = this.timeHours == "" ? 0 : this.timeHours;
				let minutes = this.timeMinutes == "" ? 0 : this.timeMinutes;
				let seconds = this.timeSeconds == "" ? 0 : this.timeSeconds;
				if (hours == 0 && minutes == 0 && seconds == 0 || this.distanceKilometers == 0 && this.distanceMeters == 0) {
					this.paceMinutes = 0;
					this.paceSeconds = 0;
				}
				else {
					let time = (this.timeHours * 60) + this.timeMinutes + (this.timeSeconds / 60);
					time = time / (this.distanceKilometers + (this.distanceMeters / 1000));
					minutes = String(time).split('.')[0];
					this.paceMinutes = minutes;

					let timeString = String(time);

					if (timeString.indexOf('.') != -1) {
						let seconds = timeString.substr(timeString.indexOf('.'), timeString.length);
						seconds	= (seconds * 0.6) * 100;
						seconds	= Math.round(seconds * 10) / 10;
						this.paceSeconds = seconds;
					}
					else {
						this.paceSeconds = 0;
					}
				}
			},
			calculateSpeed: function() {
				let hours = this.timeHours == "" ? 0 : this.timeHours;
				let minutes = this.timeMinutes == "" ? 0 : this.timeMinutes;
				let seconds = this.timeSeconds == "" ? 0 : this.timeSeconds;
				if (hours == 0 && minutes == 0 && seconds == 0) {
					this.speed = 0;
				}
				else {
					let time = ((this.timeSeconds / 60) / 60) + (this.timeMinutes / 60) + this.timeHours;
					let speed = (this.distanceKilometers + (this.distanceMeters / 1000)) / time;
					speed = Math.round(speed * 10) / 10;
					this.speed = speed;
				}	
			}
		}
	});
</script>
</div>
</body>
</html>